<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @stock.current_price %>
</p>

<p>
  <strong>Abb:</strong>
  <%= @stock.abb %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
