<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
  </br>
  <strong>Symbol:</strong>
  <%= @stock.symbol%>
</p>

<%= line_chart @weeks, title:"Historical value development", library: {backgroundColor: "#eee"} %>
<%= line_chart @threemonths, title:"3 month value development", library: {backgroundColor: "#eee"}%>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
