<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @xetra_instrument.name %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @xetra_instrument.symbol %>
</p>

<p>
  <strong>Isin:</strong>
  <%= @xetra_instrument.isin %>
</p>

<%= link_to "Edit", edit_xetra_instrument_path(@xetra_instrument) %> |
<%= link_to "Back", xetra_instruments_path %>
