<p id="notice"><%= notice %></p>

<div class="row">
  <h2><%= @xetra_instrument.name %></h2>
</div>

<div class="row">
  <div class="col col-sm-4">
    <strong>Exchange:</strong>
    XETRA
    </br>
    <strong>Symbol:</strong>
    <%= @xetra_instrument.symbol %>
    </br>
    <strong>ISIN:</strong>
    <%= @xetra_instrument.isin %>
    </br>
  </div>
  <div class="col col-sm-4">
    <strong>Last trading day open:</strong>
    <%= @fo.open %>
    </br>
    <strong>Market cap:</strong>
    <%= @fo.mkt_cap %>
    </br>
    <strong>52 week movement:</strong>
    <%= @fo.one_year %>
  </div>
  <div class="col col-sm-4">
    <strong>P/E:</strong>
    <%= @fo.pe %>
    </br>
    <strong>Shares:</strong>
    <%= @fo.shares %>
    </br>
    <strong>Earnings per share:</strong>
    <%= @fo.eps %>
  </div>
</div>

<%= link_to "Edit", edit_xetra_instrument_path(@xetra_instrument) %> |
<%= link_to "Back", xetra_instruments_path %>
