<p id="notice"><%= notice %></p>

<div class="row">
  <h2><%= @nasdaq_instrument.name %></h2>
</div>

<div class="row">
  <div class="col col-sm-4">
    <strong>Exchange:</strong>
    NASDAQ
    </br>
    <strong>Symbol:</strong>
    <%= @nasdaq_instrument.symbol %>
    </br>
    <strong>3 month movement:</strong>
    <% if @threemonthpr >= 0 %>
        <span style="color:green"><%= @threemonthpr %> %</span>
    <% else %>
        <span style="color:red"><%= @threemonthpr %> %</span>
    <% end %>
  </div>
  <div class="col col-sm-4">
    <strong>Close:</strong>
    <%= @fo.close %>
    </br>
    <strong>Open:</strong>
    <%= @fo.open %>
    </br>
    <strong>Market cap:</strong>
    <%= number_with_delimiter(@fo.mkt_cap, delimiter: " ") %> m
    </br>
    <strong>52 week range:</strong>
    <%= @fo.low52 %> - <%= @fo.high52 %>
    </br>
    <strong>Beta:</strong>
    <%= @fo.beta %>
    </br>
  </div>
  <div class="col col-sm-4">
    <strong>Trailing-P/E:</strong>
    <%= @fo.t_pe %>
    </br>
    <strong>Forward-P/E:</strong>
    <%= @fo.f_pe %>
    </br>
    <strong>Shares:</strong>
    <%= number_with_delimiter(@fo.shares, delimiter: " ") %> m
    </br>
    <strong>Earnings per share:</strong>
    <%= @fo.eps %> (12mth)
  </div>
</div>


<%= line_chart @weeks, title: "Historical value development", library: {backgroundColor: "#eee"} %>
<%= line_chart @threemonths, title: "3 month value development", library: {backgroundColor: "#eee"} %>

<%= link_to "Edit", edit_nasdaq_instrument_path(@nasdaq_instrument) %> |
<%= link_to "Back", nasdaq_instruments_path %>
