<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nasdaq_instrument.name %>
  </br>
  <strong>Symbol:</strong>
  <%= @nasdaq_instrument.symbol%>
  </br>
  <strong>3 month movement:</strong>
  <% if @threemonthpr >= 0 %>
      <span style="color:green"><%= @threemonthpr %> %</span>
  <% else %>
      <span style="color:red"><%= @threemonthpr %> %</span>
  <% end %>
</p>

<%= line_chart @weeks, title:"Historical value development", library: {backgroundColor: "#eee"} %>
<%= line_chart @threemonths, title:"3 month value development", library: {backgroundColor: "#eee"}%>

<%= link_to 'Edit', edit_nasdaq_instrument_path(@nasdaq_instrument) %> |
<%= link_to 'Back', nasdaq_instruments_path %>
